@import '../../scss/_required.scss';

.rc-slider {
    height: 22px;
}

.rc-slider-handle {
    border: solid 3px $appBlueLight;
    background: $appBlueLight;
    margin-left: -9px;
    margin-top: -5px;
    width: 18px;
    height: 18px;
    &:active, &:focus {
        border-color: $appBlueDark;
    }
}

.rc-slider-rail {
    top: 7px;
}

.rc-slider-track {
    background-color: $appBlueLighter;
    height: 8px;
}

.perlin-noise-control {
    .perlin-noise-description {
        color: $appTextLighter;
        font-size: 14px;
    }
    margin-bottom: 20px;

    h4 {
        transition: color 500ms ease-out;
    }
}

.perlin-noise-controls-island-options {
    margin-bottom: 15px;
    padding: 30px 30px 30px 30px;
}

.perlin-noise-octave-controls-container {

    padding: 30px;

    .perlin-noise-octave-wrapper {
        background: rgba(0, 0, 0, 0.025);
        border: 1px solid rgba(0, 0, 0, 0.05);
        padding: 30px;
        margin-bottom: 30px;
    }
}
