.perlin-noise-octave {
  position: relative; }
  .perlin-noise-octave .perlin-noise-octave-lock {
    top: 17px; }
    .perlin-noise-octave .perlin-noise-octave-lock.perlin-noise-octave-lock-disabled {
      opacity: 0.50; }
    .perlin-noise-octave .perlin-noise-octave-lock.perlin-noise-octave-lock-mobile {
      display: inline-block;
      margin-top: 25px;
      cursor: pointer; }
  .perlin-noise-octave .perlin-noise-octave-delete {
    position: absolute;
    top: -44px;
    right: -44px;
    color: #AAA;
    background-color: #f3f3f3; }
    .perlin-noise-octave .perlin-noise-octave-delete:hover, .perlin-noise-octave .perlin-noise-octave-delete:focus {
      color: #000; }
